@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Telugu&family=Righteous&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color:  #0c5c09af ;
    font-family: 'Noto Sans Telugu', sans-serif;
    color: rgb(238, 238, 238);
}

header{
    background-color: #0C5C09;
   

}

header .container{
    display: flex;
    padding: 40px 20px;
    align-items: center;
    justify-content: space-between;
}

header h1{
    color: rgb(238, 238, 238);
    font-family: 'Righteous', cursive;
    font-weight: normal;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.329);
    font-size: 2.5em;
}

header li{
    display: inline;
    margin-left: 10px;
}

header li a{
    color: rgb(238, 238, 238);
    text-decoration: none;
}

header li a:hover{
    text-decoration: underline;
}

.container{
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

main{
    color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
    max-width: 1250px;
    margin: auto;
}

main .news, main .formulario, main .contato{
    display: block;
    width: 1200px;
    margin: 0px auto;
    padding: 20px;
}



h2{
    font-family: 'Noto Sans Telugu', sans-serif;
    color: rgb(238, 238, 238);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.329);
    background-image: linear-gradient(to right, #0c5c09af, rgb(238, 238, 238));
    padding-left: 20px;
}

main .news p, .animal p{
    text-align: justify;
    text-indent: 20px;
    line-height: 2em;
    max-width: 
}

.animal{
    display: block;
    width: 1200px;
    margin: auto;
    
    
}

.animal img{
    padding: 0 20px;
    width: 100%;
    height: 800px;
}

.formulario p{
    font-size: small;
}

form input{
    display: block;
    margin-bottom: 10px;
    width: 250px;
    height: 25px;
    font-family: 'Noto Sans Telugu', sans-serif;
}

form textarea{
    display: block;
    margin-bottom: 10px;
    width: 250px;
    height: 200px;
    resize: none;
    font-family: 'Noto Sans Telugu', sans-serif;
}

h3{
    font-family: 'Noto Sans Telugu', sans-serif;
    color: rgb(238, 238, 238);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.329);
    background-image: linear-gradient(to right, #0c5c09af, rgb(238, 238, 238));
    width: 300px;
    margin-bottom: 10px;
}

button{
    background-color:#0c5c09af ;
    width: 250px;
    height: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #33af2eaf ;
}

#information{
    display: flex;
    width: 65%;
}

.contato{
    padding: 20px;
    display:block;
}

footer{
    padding: 16px;
    text-align: center;
}